<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Depth Security's Treasure Chest - Open Source Tool Directory</title>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>
  <body class="bg-gray-100">
    <nav class="bg-white shadow-lg">
      <div class="max-w-6xl mx-auto px-4">
        <div class="flex justify-between">
          <div class="flex space-x-7">
            <div>
              <a href="{% url 'tool_list' %}" class="flex items-center py-4">
                <span class="font-semibold text-gray-500 text-lg"
                  >Depth Security's Treasure Chest</span
                >
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <main class="container mx-auto px-4 py-8">
      {% block content %} {% endblock content %}
    </main>

    <footer class="bg-white shadow-lg mt-8">
      <div class="max-w-6xl mx-auto px-4 py-4">
        <p class="text-center text-gray-500">
          © 2024 Depth Security's Treasure Chest. All rights reserved.
        </p>
      </div>
    </footer>
  </body>
</html>
